<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles/main.css') }}"
		/>
		<title>Korean History...</title>
	</head>

	<body>
		<h1>Korean History...</h1>

		<div id="button-field"></div>
		<br />
		<button id="start" onclick="start()">시작</button>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<footer id="footer">
			<span>
				<a href="https://github.com/suk-6/korean-history-site"
					>Visit our Github</a
				>
				| Copyright 2023. <a href="https://suk.kr">Woosuk Nam</a>,
				<a href="https://github.com/typidoyun">Doyun Kim</a> All Rights
				Reserved.
			</span>
		</footer>
	</body>
</html>
