<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles/main.css') }}"
		/>
		<title>Korean History...</title>
	</head>

	<body>
		<h1>Korean History...</h1>

		<div id="button-field"></div>
		<script>
			const getCookie = (name) => {
				var cookies = document.cookie.split("; ");
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].split("=");
					if (cookie[0] === name) {
						return cookie[1];
					}
				}
				return "";
			};

			const timesJSON = getCookie("timesJSON");
			const timesDict = JSON.parse(decodeURIComponent(timesJSON));

			// const update = (index) => {
			// 	/**
			// 	 * @type {HTMLButtonElement}
			// 	 */
			// 	const button = document.querySelector(
			// 		`#button-field > button:nth-child(${index + 1})`
			// 	);
			// 	// if (!button)
			// 	//     return;

			// 	// console.log("on");

			// 	// button.style.color = "#00f";
			// };

			const buttonField = document.querySelector("#button-field");

			Object.keys(timesDict).forEach((key) => {
				const span = document.createElement("span");
				span.textContent = `${timesDict[key]}`;

				const button = document.createElement("button");
				button.onclick = function () {
					switchSelection(key);
				};

				button.appendChild(span);
				buttonField.appendChild(button);
			});

			const switchSelection = (times) => {
				// selection[index] = !selection[index];
				// update(index);
				// 일시적 리다이렉트
				window.location.href = "/quiz?times[]=" + times;
			};
		</script>
	</body>
</html>
