<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quiz</title>
	</head>
	<body>
		<span id="quiz-text">{{quiz}}</span><br />
		<input
			type="text"
			placeholder="정답을 입력하세요."
			name="answer"
			autocomplete="off"
			id="input-text"
		/>
		<button id="compare-btn">제출</button>

		<div id="result" style="display: none"></div>

		<script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
	</body>
</html>
