<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quiz</title>
	</head>
	<body>
		{{quiz}}
		<form method="post">
			<input
				type="text"
				placeholder="정답을 입력하세요."
				name="answer"
				autocomplete="off"
			/>
			<button type="submit">제출</button>
		</form>
		<script>
			window.onload = function () {
				var inputElement = document.getElementsByTagName("input")[0]; // input 요소 가져오기
				inputElement.value = ""; // 값 지우기
			};
		</script>
	</body>
</html>
