<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quiz</title>
	</head>
	<body>
		<span id="quiz-text">{{quiz}}</span><br />
		<input
			type="text"
			placeholder="정답을 입력하세요."
			name="answer"
			autocomplete="off"
			id="input-text"
		/>
		<button id="compare-btn">제출</button>

		<div id="result" style="display: none"></div>
		<!-- <script>
			window.onload = function () {
				var inputElement = document.getElementsByTagName("input")[0]; // input 요소 가져오기
				inputElement.value = ""; // 값 지우기
			};
		</script> -->
		<script>
			document
				.getElementById("compare-btn")
				.addEventListener("click", function () {
					var inputText = document.getElementById("input-text").value;
					var cookieText = decodeURI(getCookie("keyword"));

					if (inputText === cookieText) {
						document.getElementById("result").textContent =
							"정답입니다!";
					} else {
						document.getElementById("result").textContent =
							"오답입니다! \n" +
							'정답은 "' +
							cookieText +
							'"입니다!';
					}

					document.getElementById("input-text").style.display =
						"none";
					document.getElementById("quiz-text").style.display = "none";
					document.getElementById("compare-btn").style.display =
						"none";
					document.getElementById("result").style.display = "block";

					setTimeout(function () {
						window.location.reload();
					}, 1000);
				});

			function getCookie(name) {
				var cookies = document.cookie.split("; ");
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].split("=");
					if (cookie[0] === name) {
						return cookie[1];
					}
				}
				return "";
			}
		</script>
	</body>
</html>
