<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/selectquiz.css') }}">
    <title>Quiz</title>
    <script>
        let selection = [ false, false, false, false, false, false ];

        const update = (index) => {
            /**
             * @type {HTMLButtonElement}
             */
            const button = document.querySelector(`#button-field > button:nth-child(${index + 1})`);
            // if (!button)
            //     return;

            // console.log("on");
            
            // button.style.color = "#00f";
        }

        const switchSelection = (index) => {
            selection[index] = !selection[index];
            update(index)
        }

        

    </script>
</head>

<body>
    <!-- <a href="/quiz/goguryeo">고구려</a><br>
    <a href="/quiz/baekjae">백제</a><br>
    <a href="/quiz/shilla">신라</a><br>
    <a href="/quiz/unifiedSilla">통일신라</a><br>
    <a href="/quiz/goryeo">고려</a><br>
    <a href="/quiz/joseon">조선</a><br> -->
    
    <h1>Korean History...</h1>

    <div id="button-field">
        <button onclick="switchSelection(0);">
            <span>고구려</span>
        </button>
        <button onclick="switchSelection(1);">
            <span>백제</span>            
        </button>
        <button onclick="switchSelection(2);">
            <span>신라</span>
        </button>
        <button onclick="switchSelection(3);">
            <span>통일 신라</span>
        </button>
        <button onclick="switchSelection(4);">
            <span>고려</span>
        </button>
        <button onclick="switchSelection(5);">
            <span>조선</span>
        </button>
    </div>
</body>
</html>